####### PROJECT SECTION #######
#PROJECT_NAME="UGC API Service"
#PROJECT_DESCRIPTION="User activity tracking"
#PROJECT_DOCS_URL="/api/openapi"
#PROJECT_OPENAPI_URL="/api/openapi.json"

####### KAFKA SECTION #######
KAFKA_SECURITY_PROTOCOL="SASL_SSL"
KAFKA_SASL_MECHANISM="SCRAM-SHA-512"
KAFKA_BOOTSTRAP_SERVERS=<kafka-server-name>:<kafka-port>
KAFKA_SASL_PLAIN_USERNAME=practicum
KAFKA_SASL_PLAIN_PASSWORD=password
# leave below KAFKA_SSL_CAFILE parameter value unchanged
KAFKA_SSL_CAFILE=/usr/src/app/CA.pem

####### JWT #######
JWT_SECRET_KEY="buz"
JWT_ALGORITHMS="HS256"
